@model DevBuild.Assessment6_WebForm.Models.Guest

@Scripts.Render("~/Scripts/rsvp-utilities.js");
@Styles.Render("~/Content/misc.css")

@{
    //


    ViewBag.Title = "RSVP";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewData.ModelState.Count > 0)
    {
        @Html.ValidationSummary(false, "Please fix the following errors: ", new { @class = "alert alert-danger" })
    }
}



@using (Html.BeginForm("Submit", "RSVP", FormMethod.Post))
{
    <h2>RSVP</h2>
    <fieldset class="">
        @Html.LabelFor(m => m.FirstName, "First Name ")
        @Html.TextBoxFor(m => m.FirstName, new { @class = "user-entry user-entry-required" })
        <span id="FirstNameErrorFeedback"></span>
    </fieldset>

    <fieldset class="">
        @Html.LabelFor(m => m.LastName, "Last Name ")
        @Html.TextBoxFor(m => m.LastName, new { required = "required", @class = "user-entry user-entry-required" })
        <span id="LastNameErrorFeedback"></span>
    </fieldset>

    <fieldset class="form-field">
        @Html.LabelFor(m => m.EmailAddress, "Email Address ")
        @Html.TextBoxFor(m => m.EmailAddress, new { type = "email", required = "required", @class = "user-entry user-entry-required" })
        <span id="EmailAddressErrorFeedback"></span>
    </fieldset>

    <fieldset>
        @Html.Label("Favorite Game of Thrones Character: ")
        @Html.DropDownListFor(m => m.CharacterName, DevBuild.Assessment6_WebForm.Data.GoTCharactersRepository.GoTCharacters_SelectList)
        @Html.ActionLink("Details", "Index", "Home", new { target = "_blank" })

    </fieldset>
    
    <br />
    <fieldset class="form-field">
        @Html.LabelFor(m => m.IsAttending, "Will you be attending?")
        <br />
        @Html.RadioButtonFor(m => m.IsAttending, true, new { required = "required", value = "user-yes", onchange = "AckAttendance()" }) Yes
        @Html.RadioButtonFor(m => m.IsAttending, false, new { required = "required", value = "user-no", onchange = "AckAttendance()" }) No
        <br />
        <span id="AttendanceMessage"></span>
        <span id="available-party-dates" class="available-party-dates-hidden">
            @Html.LabelFor(m => m.AttendanceDate, "Which night's party will you plan on attending?")
            <br />
            @Html.RadioButtonFor(m => m.AttendanceDate, "12/14/2018") 12/14/2018
            @Html.RadioButtonFor(m => m.AttendanceDate, "12/15/2018") 12/15/2018
        </span>
        <br />
    </fieldset>

    <br />
    <fieldset class="form-field">
        @Html.LabelFor(m => m.Guest1, "Guest: ")
        <br />
        @Html.RadioButtonFor(m => m.HasAPlusOne, true) Yes
        @Html.RadioButtonFor(m => m.HasAPlusOne, false) No
        @Html.TextBoxFor(m => m.Guest1)
    </fieldset>
    <br />
    <br />
    <button type="Submit" value="Submit(this)" onclick="">Submit</button>

}

