@model IEnumerable<DevBuild.Assessment6_WebForm.Models.Dish>

@{
    ViewBag.Title = "Holiday Party 2018 Dishes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/misc.css")

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DishName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DishDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditDish/" + item.DishID.ToString(), new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "DeleteDish/" + item.DishID.ToString(), new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</table>

